*{
    cursor: url('./hammer.png') 50 50, pointer
}

body{
    background-color: rgb(243, 240, 243);
    width: 100vw;
    height: 100vw;
    font-family: fantasy;
}

.mole{
    position: absolute;
    width: 30vh;
    height: 30vh;
    background-image: url('mole.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.points{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    color: rgb(223, 66, 183);
}

.time{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
    color: rgb(223, 66, 183);
}

.messages{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    font-size: 3em;
    color: red;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    z-index: 99999;
    max-width: 90vw;
    border: solid;
    border-color: rgb(128, 128, 128)

}

.modal button{
    background-color: rgb(223, 66, 183);
    color: white;
    border: solid;
    border-color: rgb(128, 128, 128)
    padding: 10px;
}

.end-modal{
    display: none;
}